<div class="flex mt-5 flex-col md:flex-row md:space-x-4">
  <div class="w-full mb-4 md:w-56">
    <ul class="text-center md:text-left space-y-2 md:space-y-4 px-4">
      @for (category of categories.slice(0, 3); track category) {
        <li class="bg-gray-100 border-gray-200 border rounded-lg p-4">
          <a
            routerLink="/category/{{ category.slug }}"
            class="block w-full h-full"
            >{{ category.name }}</a
          >
        </li>
      }
    </ul>
  </div>
  <div class="grid grid-cols-2 gap-8 w-full md:grid-cols-4">
    <app-carousel
          [images]="promtions"
          [autoPlay]="true"
          [intervalMs]="4000"
          [pauseOnHover]="true"
          [loop]="true"
          [showIndicators]="true"
          ariaLabel="Fotos de Bogotá para turistas"
          [product]="promtions" 
          (addToCart)="addToCart($event)">
        </app-carousel>
    @for (product of colombinaProducts; track product) {
      <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>
</div>
